.i-toast__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 24px;
  left: 24px;
  transition: opacity 300ms;
  pointer-events: none;
  z-index: 100;
}

.i-toast__wrapper--position-top {
  top: 32px;
}

.i-toast__wrapper--position-bottom {
  bottom: 32px;
}

.i-toast__wrapper--position-center {
  top: 50%;
  transform: translateY(-50%);
}

.i-toast__wrapper--enter,
.i-toast__wrapper--exit {
  opacity: 0;
}

.i-toast {
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
